<p>landing-page works!</p>

<div class="center-max-width">
    <div class="me">

        <img class="img-section" src="./assets/img/landing-page/avatar.png" alt="">


        <div class="right-section">
            <div>
                <h3 [ngClass]="{}">{{ "I am"  }}</h3>

                <div class="title">
                    <h1>Małgorzata </h1>
                    <h2>{{ "FRONTEND DEVELOPER"  }}</h2>
                </div>
            </div>
            <a href="#contact"><button>{{ "Let's talk!"  }}</button></a>
        </div>
        <div class="hero-section">
            <img class="hero display" src="./assets/img/landing-page/hero_background.png">
           
        </div>
    </div>
    

    <div class="link-section">
        <div class="just-links">
            <a href="https://github.com/" target="_blank"><img src="./assets/img/landing-page/github.png"
                    alt="Github Link"></a>
            <a href="#contact"><img src="./assets/img/landing-page/contact.png" alt="Contact me"></a>
            <a href="https://www.linkedin.com/" target="_blank"><img
                    src="./assets/img/landing-page/linked.png" alt="LinkedIn Link"></a>
            <a href="#contact">gosiasamosia&#64;gmail.com</a>
        </div>
    </div>


</div>