<p>landing-page works!</p>
<p>Strona startowa działa!</p>
<div class="center-max-width">
    <div class="about me">

        <!-- Sekcja z obrazem -->
        <img class="img-section" src="#" alt="">

        <div class="right-section">
            <div>
                <!-- Sekcja tytułu -->
                <div class="title">
                    <h1>Małgorzata TEST</h1>
                </div>
            </div>
        </div>

    </div>
    <!-- Sekcja z cieniami -->
    <div class="shadow-section">
        <img class="display" src=".#" alt="display obraz">
        <img class="mobile" src=".#" alt="mobile obraz">
    </div>
</div>