<p>links works!</p>
<div class="center-max-width">

    <div class="line"></div>
    <div class="space-between" >
        <div class="link-section">
            <div class="just-links">
                <a href="https://github.com/Gosia2024" target="_blank"><img src="./assets/img/links/github.png"
                        alt="Github Link"></a>
                <a href="#contact"><img src="./assets/img/links/contact.png" alt="Contact me"></a>
                <a href="https://www.linkedin.com/" target="_blank"><img
                        src="./assets/img/links/linked.png" alt="LinkedIn Link"></a>
                <a href="#contact">gosiasamosia&#64;gmail.com</a>
            </div>
        </div>

        <div class="scroll-section">
            <span>{{ "scroll down"  }}</span>
            <img src="./assets/img/links/arrow-down.png" alt="Arrow down">
        </div>
    </div>
    <div class="empty-line"></div>
</div>