<header>
    <nav>
        <div class="logo">
            <a href="#"><img src="./assets/img/header/logo2.png" alt="Logo"></a>
        </div>
        <div class="mobile-display">
            <a href="#"><img src="#" alt="Menu"></a>
        </div>
        <div class="desktop-display nav-items">
            <section>
                <a href="#about-me">{{ "About me" }}</a>
            </section>
            <section>
                <a href="#skills">Skills</a>
            </section>
            <section>
                <a href="#portfolio">Portfolio</a>
            </section>
            <section class="language-btn">
                <div class="style-underline">
                    <a href="#">EN</a>
                </div>
                <p>|</p>
                <div class="style-underline">
                    <a href="#">DE</a>
                </div>
            </section>
        </div>
    </nav>
</header>
