<p>about-me works!</p>
<div class="center-max-width">
   
    <div class="empty-line"></div>
    <div class="main-section">
        <div class="left-section" data-aos="flip-left" data-asos-easing="ease-out-cubic" data-aos-duration="2000">
            <h2>{{ "About me"}}</h2>
            <img class="shade" src="./assets/img/about_me/shadow.png" alt="">
            <div class="text-section">
                <span>{{ "Hi, Im a german speaking Frontend Developer based Leipzig.Motivated by the limitless opportunities within IT, I am excited about crafting visually captivating and intuitive websites and applications"  }}</span>

                <div class="personal-section">
                    <img src="./assets/img/about_me/location_desktop.png" alt="bulb">
                    <span>{{ "Felxible in terms of working environments, i can work effectively both on-site in Leipzigand remotely."  }}</span>
                </div>

                <div class="personal-section">
                    <img src="./assets/img/about_me/bulb_desktop.png" alt="puzzle">
                    <span>{{ "I am open-minded and always looking for personal challenges to constantly improve my knowledge and skills"  }}</span>
                </div>


                <div class="personal-section">
                    <img src="./assets/img/about_me/puzzle.png" alt="bulb">
                    <span>{{ "In my profession, programming inst just about writng code; its a creative from of problem-sloving.I take pride in my ability to distill complex technical challenges into simple, unser-friendly solutions.This way, I help you achieve your goals and bring your vision to life."  }}</span>
                </div>

            </div>
        </div>

        <div class="right-section" data-aos="fade-right" data-aos-offset="300" data-asos-easing="ease-in-sine" >
            <div class="cycleImg">
                <img class="me" src="./assets/img/landing-page/ewa.png" alt="Your Image">
            </div>
        </div>
    </div>
    <div class="orange-line"></div>
</div>
