
<footer>

    <div class="footer">
        <div class="logo-impressum">
            <a href="#"><img src="./assets/img/footer/logo.png" alt="Logo"></a>
            <a class="desktop-impressum">{{ "Imprint" }}</a>
        </div>

        <span class="copyright">© Małgorzata 2024</span>

        <div class="link-section">
            <a href="https://github.com/Gosia2024" target="_blank"><img src="./assets/img/footer/github.png" alt="Github-Link"></a>
            <a href="#contact"><img src="./assets/img/footer/contact.png" alt="Contact"></a>
            <a href="https://www.linkedin.com/" target="_blank"><img src="./assets/img/footer/linked.png" alt="LinkedIn Link"></a>
        </div>

        
    </div>
</footer>