<p>skills works!</p>
<div class="center-max-width">
    <div class="main-section">
       
        <div class="left-section">
            <div>
                <img src="./assets/img/skills/angular.png" alt="Angular">
                <span>Angular</span>
            </div>
            <div>
                <img src="./assets/img/skills/ts.png" alt="TypeScript">
                <span>TypeScript</span>
            </div>
            <div>
                <img src="./assets/img/skills/js.png" alt="JavaScript">
                <span>JavaScript</span>
            </div>
            <div>
                <img src="./assets/img/skills/html.png" alt="HTML">
                <span>HTML</span>
            </div>
            <div>
                <img src="./assets/img/skills/firebase.png" alt="Firebase">
                <span>Firebase</span>
            </div>
            <div>
                <img src="./assets/img/skills/git.png" alt="GIT">
                <span>GIT</span>
            </div>
            <div>
                <img src="./assets/img/skills/css.png" alt="CSS">
                <span>CSS</span>
            </div>
            <div>
                <img src="./assets/img/skills/api.png" alt="Rest-Api">
                <span>Rest-Api</span>
            </div>
            <div>
                <img src="./assets/img/skills/scrum.png" alt="Scrum">
                <span>Scrum</span>
            </div>
            <div>
                <img src="./assets/img/skills/material_design.png" alt="Materialdesign">
                <span>Material design</span>
            </div>
        </div>
        <span>{{ "My skills"  }}</span>

        <div class="right-section" >
            <div class="text-section">

                <div class="headline">
                    <div class="empty-box">
                        <div class="empty-line"></div>
                    </div>
                    <div>
                        
                    </div>

                    <div class="right-line">
                        <div class="short-line"></div>
                    </div>
                </div>


                <a href="#contact_me"><button class="desktop-btn">{{ "Kontakt aufnehmen"  }}</button></a>
            </div>

         
     
</div>